<section class="p-standard banner">
    <div class="banner-media">
        <ew-template for-key="media" />
    </div>

    <div class="content-standard">
        <div class="text-block-xl">
            <span ew-for="tag" class="tag color-white"></span>
            <h2 class="m-b-z m-t-z size-xl color-white" ew-for="header"></h2>
        </div>
    </div>
</section>
