<section class="m-standard">
    <div class="content-standard">
        <div class="text-block-md">
              <h2 class="size-md m-t-z m-b-2" ew-for="header"></h2>
        </div>
        <div class="facts">
            <ew-list for-key="boxes">
                <div class="fact-box">
                    <span ew-for="number" class="number"></span>
                    <span ew-for="text" class="text"></span>
                </div>
            </ew-list>
        </div>
    </div>
</section>