<section class="hero hero-page">
    <div class="hero-media">
        <ew-template for-key="media"/>
    </div>
  
    <div class="content-standard">
        <h1 class="size-xl m-t-4 anim" ew-for="header"></h1>
        <div class="text-block-sm">
            <p ew-for="description" class="description anim"></p>
        </div>
    </div>

</section>