<section class="m-standard">

    <div class="content-standard">
        <div class="text-block-md">
            <h2 class="m-b-4 m-t-z size-lg" ew-for="header"></h2>
            <div class="ew">
                <ew-template for-key="html"/>
            </div>
        </div>
    </div>
</section>